<b>Правила и обязательства:</b>

1. Общие положения

Созданный бот не является коммерческим проектом, не принадлежит университету, либо доверенному ему лицу.

1.1. Бот не предусмотрен для коллекционирования данных и не ведёт тайного сбора информации.
1.2. Бот коллекционирует лишь предоставленную информацию, в виде дат рождения, ID телеграм аккаунта и принадлежность к группе.
1.3. Бот не распространяет и не даёт доступ к информации третьим лицам, помимо администраторов проекта.

2. Обработка персональных данных
2.1. Администраторы могут иметь доступ только к предоставленной от пользователя информации.
2.2. Старосты групп не имеют доступа к информациям пользователей, равно как и студенты/преподаватели.
2.3. Бот не обрабатывает и ни в коем случае не будет коллеционировать информацию из личных чатов/групп.
2.4. Администрация проекта не будет предоставлять информацию о пользователях ни по какому требованию, даже по просьбе деканата.
2.5. Администраторы проекта будут анонимны, если сами не пожелают обратного.
2.6. Данные администраторов будут доступны лишь главному администратору.

3. Обязательства старост
3.1. Старосты обязаны принимать в группы только своих одногруппников.
3.2. Старосты обязаны предоставлять необходимую информацию о группе в случае запроса со стороны администрации.

4. Обязательства администрации
4.1. Предоставлять информацию при первом же запросе главному администратору.
4.2. Тщательно фильтровать создающиеся группы.

5. Обязательства главного администратора
5.1. Не передавать информацию о пользователях третьим лицам.